*{
    margin: 0;
    padding: 0;
}
html{
    background: url('bg.jpg') no-repeat center center fixed;
    background-size: cover;

}
.background{
    background: url('bg.jpg') no-repeat center center fixed;
    background-size: cover;

}